@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid min-vh-300 d-flex align-items-center justify-content-center p-0">
    <div class="w-100 h-100 shadow rounded-0 d-flex align-items-center justify-content-center" style="background-color: white;">
        <div class="text-center" style="max-width: 750px; padding: 2rem;">
            <h2 class="fs-7 mb-4">Be the Connection: Deliver Joy with Takealot.</h2>
            <p class="text-secondary large" style="color: black;">
                Join our dynamic team of delivery drivers and be the face of Takealot! Enjoy flexible
                hours, competitive earnings, and the satisfaction of delivering joy to thousands. Your
                journey starts here.
            </p>
            <a class="btn btn-primary btn-lg" asp-action="Index" asp-controller=""><b>View Driver Vacancies</b></a>
        </div>
    </div>
</div>